**/.terraform/providers/registry.terraform.io/hashicorp/google/*.*.*/windows_amd64/terraform-provider-google_v*.*.*_x*.exe
**/.terraform/providers/registry.terraform.io/hashicorp/google/*.*.*/windows_amd64/LICENSE.txt
**/terraform.tfstate.backup
**/terraform.tfstate
**/.terraform.lock.hcl
**/terraform.tfvars